<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="rplidar_macro" params="robot_namespace x y z roll pitch yaw parent">
    <joint name="${robot_namespace}/rplidar_joint" type="fixed">
      <origin xyz="${x} ${y} ${z + 0.031}" rpy="${roll} ${pitch} ${yaw}"/>
      <parent link="${robot_namespace}/${parent}"/>
      <child link="${robot_namespace}/rplidar_link"/>
    </joint>

    <link name="${robot_namespace}/rplidar_link">
      <visual>
        <origin xyz="0 0 -0.031" rpy="0 0 ${pi}"/>
        <geometry>
          <mesh filename="file:///$(find palletron_gazebo)/meshes/sensors/rplidar.stl"
            scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="flat_black"/>
      </visual>
    </link>
    
    <!-- Gazebo extensions -->
    <gazebo reference="${robot_namespace}/rplidar_link">
      <material>Gazebo/FlatBlack</material>
    </gazebo>

    <gazebo reference="${robot_namespace}/rplidar_link">
      <sensor name="${robot_namespace}/rplidar" type="ray">
        <always_on>true</always_on>
        <visualize>false</visualize>
        <update_rate>15</update_rate>
        <ray>
          <scan>
            <horizontal>
              <xacro:if value="${optionals['use_less_scan_samples']}">
                <samples>180</samples>
              </xacro:if>
              <xacro:unless value="${optionals['use_less_scan_samples']}">
                <samples>${16000/15}</samples>
              </xacro:unless>
              <resolution>1</resolution>
              <min_angle>-3.1241390751</min_angle>
              <max_angle>3.1241390751</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>0.2</min>
            <max>12</max>
            <resolution>0.01</resolution>
          </range>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.01</stddev>
          </noise>
        </ray>

        <plugin name="gazebo_ros_ray_sensor" filename="libgazebo_ros_ray_sensor.so">
          <ros>
            <remapping>~/out:=/${robot_namespace}/rplidar/scan</remapping>
          </ros>
          <frame_name>${robot_namespace}/rplidar_link</frame_name>
          <output_type>sensor_msgs/LaserScan</output_type>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>