<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="solid_cylinder_inertia_macro" params="mass radius height">
    <inertia
      ixx="${mass / 12 * (3 * radius * radius + height * height)}"
      iyy="${mass / 12 * (3 * radius * radius + height * height)}"
      izz="${mass / 2 * (radius * radius)}"
      ixy="0" ixz="0" iyz="0"/>
  </xacro:macro>

  <xacro:macro name="solid_cuboid_inertia_macro" params="mass width depth height">
    <inertia
      ixx="${mass / 12 * (height * height + depth * depth)}"
      iyy="${mass / 12 * (width * width + height * height)}"
      izz="${mass / 12 * (width * width + depth * depth)}"
      ixy="0" ixz="0" iyz="0"/>
  </xacro:macro>
</robot>