<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="solid_sphere_inertia_macro" params="mass radius">
    <inertia
      ixx="${2 * radius * radius * mass / 5}"
      iyy="${2 * radius * radius * mass / 5}"
      izz="${2 * radius * radius * mass / 5}"
      ixy="0" ixz="0" iyz="0"/>
  </xacro:macro>

  <xacro:macro name="solid_cylinder_inertia_macro" params="mass radius height">
    <inertia
      ixx="${mass / 12 * (3 * radius * radius + height * height)}"
      iyy="${mass / 12 * (3 * radius * radius + height * height)}"
      izz="${mass / 2 * (radius * radius)}"
      ixy="0" ixz="0" iyz="0"/>
  </xacro:macro>

  <xacro:macro name="solid_cuboid_inertia_macro" params="mass height depth width">
    <inertia
      ixx="${mass / 12 * (height * height + depth * depth)}"
      iyy="${mass / 12 * (width * width + depth * depth)}"
      izz="${mass / 12 * (width * width + height * height)}"
      ixy="0" ixz="0" iyz="0"/>
  </xacro:macro>
</robot>
