<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">  
  <xacro:include filename="caster_wheel.gazebo.xacro"/>
  
  <xacro:macro name="caster_wheel_macro" params="prefix mass radius parent *origin">
    <link name="${prefix}_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <sphere radius="${radius}"/>
        </geometry>
        <material name="grey"/>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <sphere radius="${radius}"/>
        </geometry>
      </collision>

      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="${mass}"/>
        <xacro:solid_sphere_inertia_macro mass="${mass}" radius="${radius}"/>
      </inertial>
    </link>

    <joint name="${prefix}_joint" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="${parent}"/>
      <child link="${prefix}_link"/>
    </joint>
    
    <!-- Include Gazebo extensions -->
    <xacro:caster_wheel_gazebo_macro/>
  </xacro:macro>
</robot>