<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="default_base.gazebo.xacro"/>
  
  <xacro:macro name="default_base_macro" params="mass width height depth *origin">
    <link name="base_footprint"/>

    <joint name="base_joint" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="base_footprint"/>
      <child link="base_link" />
    </joint>

    <link name="base_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="${width} ${height} ${depth}"/>
        </geometry>
        <material name="blue"/>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="${width} ${height} ${depth}"/>
        </geometry>
      </collision>

      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="${mass}"/>
        <xacro:solid_cuboid_inertia_macro mass="${mass}" height="${height}" depth="${depth}" width="${width}"/>
      </inertial>
    </link>
    
    <!-- Include Gazebo extensions -->
    <xacro:default_base_gazebo_macro/>
  </xacro:macro>
</robot>